.App {
  font-family: sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-areas:
 "dash reviews avg sent"
    "dash web web web "
    "dash web web web ";
  grid-gap: 10px;
}

.dash {
  grid-area: dash;
  background: lightgrey;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}





.reviews {
  grid-area: reviews;
  background: lightgrey;
  color: green
}


.avg {
  color: rgb(255, 0, 111);
   background: lightgrey;
   grid-area: avg;
   
}

.sent {
  color: rgb(179, 0, 255);
  grid-area: sent; 
  background: lightgrey; 
}

.web {
  color: rgb(255, 153, 0);
  grid-area: web;
  background: lightgrey;
}


